@mixin button {
  align-items: center;
  border: none;
  border-radius: rem(12);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  letter-spacing: rem(-.14);
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  border: 1px solid #000;
}