@import "~/scss/util";

@mixin active-link-color {
  a {
    &.router-link-active {
      color: #e40077;
    }
  }
}

@mixin menu-list {
  @include active-link-color;

  .publishing-guide-wrap {
    display: flex;
    padding-left: rem(300);
    padding-right: rem(16);
    font-size: rem(15);
    font-weight: 500;
    color: #333;

    .publishing-container {
      display: flex;
      flex: 1;

      >div {
        &:nth-last-of-type(1) {
          flex: 1;
        }
      }
    }

    .publishing-guide-title {
      margin-bottom: rem(16);
      font-weight: 600;
      line-height: 1;

      .logo-img {
        display: inline-block;
        width: 100px;
        height: 0;
        padding-bottom: 20%;
        background: url("&/guide/images/logo.PNG") no-repeat 0 0 / 100% auto;
        mix-blend-mode: multiply;
      }
    }

    .publishing-menu-list {
      counter-reset: menu-count;

      border: 1px solid #ccc;
      border-radius: 0 rem(8) rem(8) 0;
      width: rem(250);
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #f2f2f2;
      transition: all .2s ease-in;
      padding: 10px;

      li {
        a {
          counter-increment: menu-count;
          display: block;
          padding: 8px 10px;
          border-top: 1px solid #dfdfdf;

          &::before {
            content: counter(menu-count)". ";
            color: inherit;
          }
        }

        &:nth-of-type(1) {
          a {
            border-top: none;
          }
        }
      }
    }

    &.menu-hide {
      padding-left: rem(50);
      padding-right: rem(10);

      .publishing-menu-list {
        left: rem(-250);
      }

      .btn-toggle {
        &::after {
          left: rem(7);
          transform: rotate(135deg);
        }
      }
    }

    .btn-toggle,
    .link-publist,
    .link-convention {
      background: #fff;
      position: absolute;
      transform: translateX(100%);
      right: -4px;
      width: rem(30);
      border: 1px solid #aaa;
      border-radius: rem(3);
    }

    .btn-toggle {
      top: 0;
      height: rem(30);

      &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        left: rem(11);
        top: rem(9);
        border: 1px solid #000;
        border-right: transparent;
        border-bottom: transparent;
        transform: rotate(-45deg);
      }
    }
  }

  .link-publist,
  .link-convention {
    a {
      display: block;
      text-align: center;
      padding: 5px;
      font-size: rem(14);
      writing-mode: vertical-rl;
    }
  }

  .link-publist {
    top: rem(40);
  }

  .link-convention {
    top: rem(170);
  }

  .publishing-container {
    &:deep() {
      h1 {
        &.container-title {
          // background: #eee;
          text-align: center;
          // border-radius: 0 0 rem(8) rem(10);
          padding: rem(10) 0 rem(10);
          font-size: rem(16);
          font-weight: 700;
          border-bottom: 1px solid #ccc;
          margin-bottom: rem(10);
          color: #421d6a;
        }
      }
    }
  }
}